/*added font serif*/
body{
    font-family: serif;
}
/*added font size*/
h1 {
    font-size: 40px;
}
/*added a box shadow and padding*/
.box {
     border: 1px solid;
padding: 10px;
box-shadow: 5px 10px 8px 10px #888888;
}
